@model E_Learning.PL.Areas.Dashboard.ViewModels.IndexVM

@{
    ViewData["Title"] = "Index";
}
@section Header {
DashBoard
}
<div class="row w-100">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.CourseCount COURSES</h3>

                  <p>New courses...</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>

            <a asp-controller="Courses" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>

    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.CatCount Categories</h3>

                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a asp-controller="Categories" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.TeacherCount Teachers</h3>

                <p>Good Teachers</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a asp-controller="Teachers" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.ServiceCount Services</h3>

                <p>Unique Services</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a asp-controller="Services" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
 @* <h3>Users</h3>
 *@@* <!-- First Table: Users -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
            </tr>
        }
    </tbody>
</table>
    </div>

<!-- Second Table: Courses -->
<div>
    <h3>Courses</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.Name</td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Teachers</h3>
    <!-- First Table: Users -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Teachers ID</th>
                <th>Teacher Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model.Teachers)
            {
                <tr>
                    <td>@teacher.Id</td>
                    <td>@teacher.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Second Table: Courses -->
<div>
    <h3>Services</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Service ID</th>
                <th>service Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model.Services)
            {
                <tr>
                    <td>@service.Id</td>
                    <td>@service.Name</td>
                </tr>
            }
        </tbody>
    </table>

 *@